In [ ]:
# декоратор, выводящий время выполнения запроса
@print_timing

In [ ]:
# как оформить переменную внутри комментария (sql-запроса)
query = """
SELECT title, rating FROM recommendations
INNER JOIN courses ON courses.course_id = recommendations.course_id
WHERE user_id = %(user_id)s AND rating > %(threshold)s
ORDER BY rating DESC
"""
# Add the threshold parameter
predictions_df = pd.read_sql(query, db_engine, params={"user_id":user_id, "threshold":threshold})

Распределенные вычисления

In [ ]:
# multiprocessing.Pool API (считаем средний возраст спортсменов по годам на 4-х нодах)
from multiprocessing import Pool

def take_mean_age(year_and_group):
  year, group = year_and_group
  return pd.DataFrame({"Age":group["Age"].mean()}, index=[year])
  
with Pool(4) as p:
  results = p.map(take_mean_age, athlete_events.groupby("Year"))

result_df = pd.concat(results)

In [ ]:
# dask (считаем средний возраст спортсменов по годам на 4-х нодах)
import dask.dataframe as dd
# Set the number of pratitions
athlete_events_dask = dd.from_pandas(athlete_events, npartitions=4)
# Calculate the mean Age per Year
print(athlete_events_dask.groupby('Year').Age.mean().compute())

In [ ]:
# PySpark
print(athlete_events_spark.printSchema())

print(athlete_events_spark.groupBy('Year').mean('Age').show())

Extracting data

In [ ]:
# Data on Web through API
import requests

# Fetch the Hackernews post
resp = requests.get("https://hacker-news.firebaseio.com/v0/item/16222426.json")

# Print the response parsed as JSON
print(resp.json())

# Assign the score of the test to post_score
post_score = resp.json()['score']
print(post_score)

Transforming data with Pandas

In [ ]:
customer_df # Pandas DataFrame with customer data
# Split email column into 2 columns on the '@' symbol
split_email = customer_df.email.str.split("@", expand=True)
# At this point, split_email will have 2 columns, a first# one with everything before @, and a second one with# everything after @
# Create 2 new columns using the resulting DataFrame.
customer_df = customer_df.assign(
    username = split_email[0],
    domain = split_email[1],
)